name: Jekyll Build & Deploy

on:
  push:
    branches: [ "main" ]   # build when pushing to main
  workflow_dispatch:        # allow manual trigger

permissions:
  contents: write   # needed to upload artifacts
  pages: write      # needed to deploy to Pages
  id-token: write   # needed for OIDC authentication

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'
          bundler-cache: true

      - name: Install dependencies
        run: bundle install

      - name: Validate Jekyll site
        run: bundle exec jekyll doctor

      - name: Build Jekyll site
        run: bundle exec jekyll build --destination ./_site

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./_site

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
